.Box{
    background: var(--footer-color2);
    width: 100%;
    display: grid;
    height: 20vh;
    grid-template-rows: 50% 10% 40%; 
}

.Box1{
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
    color: var(--footer-color1);
    font-family: var(--main-font);
}

.Box2{
    width: 100%;
    text-align: center;
    background: var(--footer-color1);
    padding-top: 5px;
    color: var(--footer-color2);
    font-size: 1rem;
    font-family: var(--main-font);
}

.triangle-div{
    width: 100%;
    background-color: var(--footer-color1);
}

.Triangle{
    width: 30px;
    height: 100%;
    text-align: center;
    margin-left: 50vw;
    transform: translate(-16px);
    border-top: 10px solid var(--footer-color2);
    border-left: 15px solid var(--footer-color1);
    border-right: 15px solid var(--footer-color1);
}